.button-header {

width: 32px;
height: 65.21px;
justify-content: center;
display: flex;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 60px;
}

.button-header-filled {

left: 83.06%;
right: 8.69%;
top: 1.65%;
bottom: 97.57%;
background: #FB8F1D;
border-radius: 8px;
align-items: center;
color: #FFFFFF;
mix-blend-mode: normal;
}

.button-header-outline {

box-sizing: border-box;
left: 73.69%;
right: 18.06%;
top: 1.65%;
bottom: 97.57%;
background: #ffffff;
border: 1px solid #FB8F1D;
border-radius: 8px;
align-items: center;
color: #FB8F1D;
mix-blend-mode: normal;
}
