

.circle-icon-container {
  
  width: 100px;
  height: 100px;
  
  
  border-radius: 50%;
  
  
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); 
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  flex-shrink: 0; 
}

.circle-icon-image {
  
  width: 40px;
  height: 40px;
  object-fit: contain;
}

@media (max-width: 900px) {
  .circle-icon-container {
    width: 80px;
    height: 80px;
  }

  .circle-icon-image {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 550px) {
  .circle-icon-container {
    width: 60px;
    height: 60px;
  }

  .circle-icon-image {
    width: 20px;
    height: 20px;
  }
}