.header {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap;
  padding: 3% 5%;
}

.btn {
  width: 132px;
  height: 65.21px;
  justify-content: center;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 60px;
}

.btn-register {
  left: 83.06%;
  right: 8.69%;
  top: 1.65%;
  bottom: 97.57%;
  background: #fb8f1d;
  border-radius: 8px;
  align-items: center;
  color: #ffffff;
  mix-blend-mode: normal;
}

.btn-register:hover {
  background-color: #e07d1f;
}

.btn-login {
  box-sizing: border-box;
  left: 73.69%;
  right: 18.06%;
  top: 1.65%;
  bottom: 97.57%;
  background: #ffffff;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  align-items: center;
  color: #fb8f1d;
  mix-blend-mode: normal;
}

.btn-login:hover {
  background-color: #fff7ed;
}

@media (max-width: 900px) {
  .btn {
    width: 100px;
    height: 50px;
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .header {
    gap: 16px;
  }

  .btn {
    width: 80px;
    height: 40px;
    font-size: 10px;
  }
}
