/* src/sections/Hero.css */

.hero-section {
  position: relative;
  width: 100%;
  min-height: 550px;

  /* Робота з фоновим зображенням */
  background-image: url('../assets/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Напівпрозора підкладка */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 0 20px;

  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 120px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

}

.hero-title {
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 128px;
  font-weight: 700;
  color: #1a253c;
  line-height: 1.2;
  margin: 0;
}

@media (max-width: 900px) {
  .hero-section {
    min-height: 300px;
    /* Зменшуємо висоту секції на дуже маленьких екранах */
  }

  .hero-title {
    font-size: 64px;
    /* Зменшуємо розмір заголовка на мобільних */
  }
}

@media (max-width: 550px) {
  .hero-section {
    min-height: 200px;
    /* Зменшуємо висоту секції на дуже маленьких екранах */
  }

  .hero-title {
    font-size: 48px;
    /* Ще менший розмір для дуже маленьких екранів */
  }
}