.reviews-section {
  width: 100%;
  padding: 60px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #0af6da 0%, #04e7cd 100%);
}
