:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;

  font-family: var(--sans);
  line-height: 1.45;
  font-weight: 400;
  color: var(--text);
  background-color: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --border: #2e303a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #fff;
  color: var(--text);
}

#root {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  border-inline: 1px solid var(--border);
  text-align: center;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #0af6da 40%,
    #71ffee 50%,
    #0561cd 65%,
    #005c72 100%
  );
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--sans);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

p {
  margin: 0;
}
